@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px 0;
  font-size: 15px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
